@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply mx-auto max-w-sm  md:max-w-[768px] lg:max-w-[1024px] 2xl:max-w-[1536px] sm:px-16 px-6;
}

.section {
	@apply sm:mt-10 mt-8;
}

textarea {
	resize: vertical; 
	min-height: 400px;
	max-height: 600px;
	width: 100%; 
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #5d9bff;
}

/* ::-webkit-scrollbar-thumb:hover {
	background: #3B82F6;
} */
